figure.titlesize: medium
figure.figsize: 3.25, 3.25

font.size: 9
font.family: serif

axes.labelsize: small
axes.titlesize: small

text.usetex: true
text.latex.preamble: \usepackage{newpxtext}\usepackage{newpxmath}\usepackage{siunitx}

figure.constrained_layout.use: True
savefig.bbox: tight
savefig.pad_inches: 0.02

lines.linewidth: 1.0
errorbar.capsize: 5

axes.prop_cycle: cycler('color', ['C9102E', '348ABD', '467821', 'D55E00', 'CC79A7', '56B4E9', '009E73', 'F0E442', '0072B2', '7A68A6'])

legend.fontsize: small
legend.labelspacing: 0.35
legend.handletextpad: 0.5
legend.columnspacing: 1
